@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin displayGrid($number, $position) {
  display: grid;
  grid-template-columns: repeat($number, $position);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
$white: rgb(230, 230, 230);
$liteWhite: rgba(214, 214, 214, 0.725);

body {
  background-color: rgb(56, 58, 63);
}

#cart_container {
  @include displayGrid(4, auto);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  #cart {
    @include displayCenter(space-between, flex-start);
    flex-direction: column;
    width: 240px;
    height: 290px;
    border-radius: 5px;
    background-color: rgb(40, 42, 47);
    margin: 20px auto;
    .flag {
      width: 100%;
      height: 130px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    h1 {
      margin: 10px;
      font-size: 1.3rem;
      color: $white;
    }
    .population {
      margin-left: 10px;
      font-size: 1rem;
      color: $white;
    }
    .region {
      margin: 2px 10px;
      font-size: 1rem;
      color: $white;
    }
    .capital {
      margin: 2px 0px 10px 10px;
      font-size: 1rem;
      color: $white;
    }
    span {
      color: $liteWhite;
    }
  }
}

@media screen and (max-width: 1124px) {
  #cart_container {
    @include displayGrid(3, auto);
  }
}
@media screen and (max-width: 800px) {
  #cart_container {
    @include displayGrid(2, auto);
  }
}
@media screen and (max-width: 555px) {
  #cart_container {
    @include displayGrid(1, auto);
  }
}